<h1>Editando <%= @item.item_name %></h1>

<%= render 'form' %>

<%= link_to 'Mostrar', item_path(:id => @item.id, :list_id => @item.list_id) %> |
<%= link_to 'Regresar', {:controller => :items, :action=>'index', :list_id => params[:list_id]} %>
